.wrapper {
  max-width: 600px;
  font-family: helvetica, sans-serif;
  margin:auto;
}

#header {
  margin:auto;
  text-align: center;
  padding-bottom: 15px;
}

.lead {
  margin: 15px 0px;
}

.lead a {
  text-decoration: none;
  color: black;
}

#nav-list {
  list-style: none
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav-list li {
  display: inline;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: white;
  background-color: grey;
}

.main-content {
  padding: 0px 20px;
}

.course-list {

}

.course-list li {

}

.contact-info {
  border-collapse: collapse;
}

.contact-info th, .contact-info td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.contact-info th {
  text-align: right;
}